{% extends "base.html" %}
{% block content %}
<div class="px-4 py-8 min-h-[160vh] h-auto">
    <section class="max-w-6xl mx-auto py-10 px-4">
        <div class="flex flex-col space-y-12 relative">
            <!-- Degree Card -->
            <div class="flex md:flex-row flex-col items-center justify-start">
                <div class="edu-card rounded-xl animate-be-slide-from-left p-6 shadow-md border-l-8 border-blue-500 w-full md:w-1/2 md:ml-auto md:mr-0 transition transform hover:scale-105 hover:shadow-xl">
                    <h3 class="text-xl font-bold text-black mb-2">B.E. (Computer Science & Engineering)</h3>
                    <p class="text-sm mb-2 text-black">
                        Visvesvaraya Technological University, Karnataka
                        East Point College of Engineering and
                        Technology, Bangalore
                    </p>
                    <p class="text-sm mb-2 text-black">July-2025</p>
                    <p class="text-sm mb-2 text-black">CGPA: 8.74</p>
                </div>
            </div>
            <div class="flex md:flex-row flex-col items-center justify-start">
                <div class="edu-card rounded-xl animate-pu-slide-in p-6 shadow-md border-l-8 border-green-500 w-full md:w-1/2 md:mr-auto md:ml-0 transition transform hover:scale-105 hover:shadow-xl">
                    <h3 class="text-xl text-black font-bold mb-2">
                        CLASS 12 (PCMB)
                    </h3>
                    <p class="text-sm mb-2 text-black">
                        KSPUC - Karnataka Board of the PreUniversity Education, Karnataka
                        Sri Maruthi PU College, Hoskote
                    </p>
                    <p class="text-sm mb-2 text-black">Jul-2021</p>
                    <p class="text-sm mb-2 text-black">Percentage: 95%</p>
                </div>
            </div>
            <!-- SSLC Card -->
            <div class="flex md:flex-row flex-col items-center justify-start">
                <div class="edu-card rounded-xl animate-sslc-slide-in p-6 shadow-md border-l-8 border-purple-500 w-full md:w-1/2 md:ml-auto md:mr-0 transition transform hover:scale-105 hover:shadow-xl">
                    <h3 class="text-xl text-black font-bold mb-2">
                        CLASS 10 (English, Kannada, Hindi,
                        Mathematics, Science, Social Science)
                    </h3>
                    <p class="text-sm mb-2 text-black">
                        KSEEB - Karnataka Secondary Education
                        Examination Board, Karnataka
                        Anugraha Education Society, Hoskote
                    </p>
                    <p class="text-sm mb-2 text-black">Apr-2019</p>
                    <p class="text-sm mb-2 text-black">Percentage: 90.4%</p>
                </div>
            </div>
            <div style="height: 50px;"></div>
            <!-- Certifications Section -->
            <section class="max-w-6xl mx-auto">
                <h2 class="fade-in-on-scroll visibility-hidden-unique text-3xl md:text-4xl font-extrabold  bg-clip-text text-blue-500 text-center mb-6 hover:scale-105 hover:shadow-xl relative">
                    Internship-Based Certifications
                </h2>
                <p class="slide-up-on-scroll visibility-hidden-unique text-center text-white max-w-2xl mx-auto text-base md:text-lg leading-relaxed hover:scale-105 hover:shadow-xl mb-6">
                    Completed industry-based internships and training programs focused on real-world applications in software development, machine learning, and cloud technologies.
                </p>
                <div class="grid gap-6 grid-cols-1 sm:grid-cols-2 md:grid-cols-2">
                    <div class="flip-card w-full">
                        <div class="flip-inner cert-card rounded-xl border-t-4 border-blue-500">
                            <div class="flip-front text-white" style="background-image: url('/static/icons/tainerz-c.jpeg'); background-size: cover; background-position: center;">  
                            </div>
                            <div class="flip-back bg-blue-500 text-white h-80 overflow-auto">
                                <h3 class="fluid-text-h text-3xl text-white font-bold mb-1">AI and Software Engineering Intern</h3>
                                <p class="fluid-text-p text-lg text-white mb-1">Deepcept AI</p>
                                <p class="fluid-text-h text-sm text-white mb-1">Built: <strong>Tainerz – Docker Manager</strong></p>
                                <p class="fluid-text-p text-sm text-white mb-1">👆 You can visit the live site of this project in the <strong>Projects</strong> section.</p>
                                <p class="fluid-text-p text-sm text-white mb-1">Currently Ongoing</p>
                            </div>
                        </div>
                    </div>
                    <div class="flip-card w-full">
                        <div class="flip-inner cert-card rounded-xl border-t-4 border-pink-500">
                            <div class="flip-front text-black" style="background-image: url('/static/icons/laptop-rental-c.jpeg'); background-size: cover; background-position: center;">
                            </div>
                            <div class="flip-back bg-blue-500 text-white h-80 overflow-auto">
                                <h3 class="fluid-text-h text-3xl text-white font-bold mb-1">Salesforce Developer</h3>
                                <p class="fluid-text-p text-lg text-white mb-1">SmartInternz</p>
                                <p class="fluid-text-h text-sm text-white mb-1">Built: <strong>CRM for Laptop Rentals</strong></p>
                                <p class="fluid-text-p text-sm text-white mb-1">👆 You can visit the live site of this project in the <strong>Projects</strong> section.</p>
                                <p class="fluid-text-p text-sm text-white mb-1">Completed January 2025</p>
                            </div>
                        </div>
                    </div>
                    <div class="flip-card w-full ">
                        <div class="flip-inner cert-card rounded-xl border-t-4 border-yellow-500">
                            <div class="flip-front text-black" style="background-image: url(/static/icons/image-recg-c.png); background-size: cover; background-position: center;">
                                
                            </div>
                            <div class="flip-back bg-blue-500 text-white h-80 overflow-auto">
                                <h3 class="fluid-text-h text-3xl text-white font-bold mb-1">Python Developer</h3>
                                <p class="fluid-text-p text-lg text-white">Techplement</p>
                                <p class="fluid-text-h text-sm text-white mb-1">Built: <strong>Image Recognition System</strong></p>
                                <p class="fluid-text-p text-sm text-white mb-1">👆 You can visit the live site of this project in the <strong>Projects</strong> section.</p>
                                <p class="fluid-text-p text-sm text-white mb-1">Completed August 2024</p>
                            </div>
                        </div>
                    </div>
                    <div class="flip-card w-full">
                        <div class="flip-inner cert-card rounded-xl border-t-4 border-green-500">
                            <div class="flip-front text-black" style="background-image: url(/static/icons/travel-TG-c.png); background-size: cover; background-position: center;">
                                
                            </div>
                            <div class="flip-back bg-blue-500 text-white h-80 overflow-auto px-4 py-2">
                                <h3 class="fluid-text-h text-3xl text-white font-bold mb-1">Full Stack</h3>
                                <p class="fluid-text-p text-lg text-white">Dotch</p>
                                <p class="fluid-text-h text-sm text-white mb-1">Built: <strong>JOURNEYQUEST-Travel Guide Website</strong></p>
                                <p class="fluid-text-p text-sm text-white mb-1">👆 You can visit the live site of this project in the <strong>Projects</strong> section.</p>
                                <p class="fluid-text-p text-sm text-white mb-1">Completed November 2023</p>
                            </div>
                        </div>
                    </div>
                    <div class="flip-card w-full ">
                        <div class="flip-inner cert-card rounded-xl border-t-4 border-indigo-500">
                            <div class="flip-front text-black" style="background-image: url('static/icons/zomato-DA-c.png'); background-size: cover; background-position: center;">
                                
                            </div>
                            <div class="flip-back bg-blue-500 text-white h-80 overflow-auto">
                                <h3 class="fluid-text-h text-3xl text-white font-bold mb-1">ML with Python</h3>
                                <p class="fluid-text-p text-lg text-white">Verzeo</p>
                                <p class="fluid-text-h text-sm text-white mb-1">Built: <strong>Zomato Data Analysis</strong></p>
                                <p class="fluid-text-p text-sm text-white mb-1">👆 You can visit the live site of this project in the <strong>Projects</strong> section.</p>
                                <p class="fluid-text-p text-sm text-white mb-1">Completed January 2023</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </section>
</div>
<script>
    document.querySelectorAll('.flip-card').forEach(card => {
        card.addEventListener('click', () => {
            card.classList.toggle('flip');
        });
    });
</script>
{% endblock %}
