{% extends "base.html" %}
{% block content %}
<div style="height: 100px;"></div>
<div class="max-w-7xl mb-4 w-full flex flex-col lg:flex-row items-center md:items-start gap-5 md:gap-5  justify-center">
    <div class="w-full max-w-xl">
        <h1 class="text-5xl font-extrabold mb-2 leading-tight typewriter-heading text-white" style="position:relative">
            Hi, It&#39;s <span style=" align-items: baseline; white-space: nowrap; vertical-align: bottom;" class="text-blue-500">Shuba S</span>
        </h1>
        <p class="text-white mb-8 leading-relaxed text-lg slide-up relative">
            Hi my name is <span class="font-semibold text-white">Shuba S</span>, Passionate and driven towards web development and machine learning. I am committed to continuous learning in these domains and wish to explore more and gain more knowledge.
        </p>
        <div class="relative flex space-x-4 items-center">
            <a href="https://www.linkedin.com/in/shuba-s01/" target="_blank" aria-label="LinkedIn">
                <img src="/static/icons/linkedin.png" alt="LinkedIn" class="w-22 h-22 transition-transform duration-500 ease-in-out transform hover:scale-125">
            </a>
            <a href="https://github.com/Shuba0S" target="_blank" aria-label="GitHub">
                <img src="/static/icons/github.png" alt="GitHub" class="w-15 h-15 transition-transform duration-500 ease-in-out transform hover:scale-125">
            </a>
            <a href="https://www.instagram.com/_shuba_.s/" target="_blank" aria-label="Instagram">
                <img src="/static/icons/instagram.png" alt="Instagram" class="w-15 h-15 transition-transform duration-500 ease-in-out transform hover:scale-125">
            </a>
        </div>
    </div>
    <div class=" align-center min-h-screen flex  justify-center pl-12 hover:scale-105 hover:shadow-xl">
        <div class="glow-border mb-4 image-slide">
            <img src="/static/icons/mypic.png"
                 alt="Shuba S Profile" />
        </div>
    </div>
</div>

<section class="text-center mb-2">
    <h2 class="text-4xl md:text-6xl font-extrabold text-blue-500 hover:scale-105 hover:shadow-xl" style="position:relative">
        ✨ A Glimpse Into My World
    </h2>
    <p class="text-white mt-4 max-w-xl mx-auto text-lg" style="position:relative">
        Where code, creativity, and curiosity collide.
    </p>
</section>

<div class="container mx-auto px-4 py-10">
    <div class=" flex flex-col items-center gap-6 px-4 mt-10">
        <div class="ss-cert-card w-full lg:w-[98%]">
            <h2 class="text-xl font-bold text-white mb-4">🛠️ Technical Skills</h2>
            <div id="skills" class="flex flex-wrap gap-1 items-start justify-start">
                <span class="flat-capsule">Operating System :</span>
                <span class="capsule">Windows</span>
                <span class="capsule">Ubuntu</span>
                <span class="capsule">Kali linux</span>
                <span class="w-full"></span>
                <span class="flat-capsule">Programming Languages :</span>
                <span class="capsule">Python</span>
                <span class="capsule">JavaScript</span>
                <span class="capsule">SQL</span>
                <span class="w-full"></span>
                <span class="flat-capsule">Web Development & Frameworks :</span>
                <span class="capsule">HTML</span>
                <span class="capsule">CSS</span>
                <span class="capsule">Flask</span>
                <span class="capsule">Django</span>
                <span class="capsule">React</span>
                <span class="capsule">Node.js</span>
                <span class="capsule">FastAPI</span>
                <span class="w-full"></span>
                <span class="flat-capsule">Database Systems :</span>
                <span class="capsule">MySQL</span>
                <span class="capsule">PostgreSQ</span>
                <span class="capsule">MongoDB</span>
                <span class="w-full"></span>
                <span class="flat-capsule">Libraries :</span>
                <span class="capsule">Pandas</span>
                <span class="capsule">NumPy</span>
                <span class="capsule">Matplotlib</span>
                <span class="capsule">OpenCV</span>
                <span class="capsule">TensorFlow</span>
                <span class="capsule">Kera</span>
                <span class="w-full"></span>
                <span class="flat-capsule">Libraries :</span>
                <span class="capsule">Machine Learning Model Building</span>
                <span class="capsule">Data Cleaning</span>
                <span class="capsule">Preprocessing</span>
                <span class="capsule">Training and Testing</span>
                <span class="w-full"></span>
                <span class="flat-capsule">Data Analysis :</span>
                <span class="capsule">Exploratory Data Analysis (EDA)</span>
                <span class="capsule">Data Visualization</span>
                <span class="capsule">Insight Extraction</span>
                <span class="w-full"></span>
                <span class="flat-capsule">CRM & Cloud :</span>
                <span class="capsule">Salesforce</span>
                <span class="capsule">Apex</span>
                <span class="capsule">LWC</span>
            </div>
        </div>
        <div class="flex flex-wrap w-full justify-between gap-4">
            <div class="ss-cert-card basis-full md:basis-[48%] flex-1 overflow-hidden ">
                <h2 class="text-xl font-bold text-white mb-4">💡 Personal Strengths</h2>
                <div class="overflow-hidden w-full">
                    <div class="ss-scroll-wrapper gap-3 ss-animate-scroll " id="strength-scroll">
                        <span class="capsule">Communication</span>
                        <span class="capsule">Leadership</span>
                        <span class="capsule">Problem Solving</span>
                        <span class="capsule">Teamwork</span>
                        <span class="capsule">Planning</span>
                        <span class="capsule">Adaptability</span>
                        <span class="capsule">Self-Motivation</span>
                        <span class="capsule">Commitment</span>
                        <span class="capsule">Focus</span>
                        <span class="capsule">Presentation Skills</span>
                        <span class="capsule">Self-Regulation</span>
                        <span class="capsule">Interpersonal Skills</span>
                        <span class="capsule">Resilience</span>
                        <span class="capsule">Creativity</span>
                        <span class="capsule">Critical Thinking</span>
                        <span class="capsule">Time Management</span>
                        <span class="capsule">Strategic Thinking</span>
                    </div>
                    <div style="height:12px;"></div>
                    <div class="ss-scroll-wrapper gap-3 ss-animate-scroll " id="strength-scroll">
                        <span class="capsule">Presentation Skills</span>
                        <span class="capsule">Self-Regulation</span>
                        <span class="capsule">Interpersonal Skills</span>
                        <span class="capsule">Resilience</span>
                        <span class="capsule">Creativity</span>
                        <span class="capsule">Critical Thinking</span>
                        <span class="capsule">Time Management</span>
                        <span class="capsule">Strategic Thinking</span>
                        <span class="capsule">Communication</span>
                        <span class="capsule">Leadership</span>
                        <span class="capsule">Problem Solving</span>
                        <span class="capsule">Teamwork</span>
                        <span class="capsule">Planning</span>
                        <span class="capsule">Adaptability</span>
                        <span class="capsule">Self-Motivation</span>
                        <span class="capsule">Commitment</span>
                        <span class="capsule">Focus</span>
                    </div>
                    <div style="height:12px;"></div>
                    <div class="ss-scroll-wrapper gap-3 ss-animate-scroll " id="strength-scroll">
                        <span class="capsule">Resilience</span>
                        <span class="capsule">Creativity</span>
                        <span class="capsule">Planning</span>
                        <span class="capsule">Adaptability</span>
                        <span class="capsule">Self-Motivation</span>
                        <span class="capsule">Commitment</span>
                        <span class="capsule">Focus</span>
                        <span class="capsule">Critical Thinking</span>
                        <span class="capsule">Time Management</span>
                        <span class="capsule">Strategic Thinking</span>
                        <span class="capsule">Communication</span>
                        <span class="capsule">Leadership</span>
                        <span class="capsule">Problem Solving</span>
                        <span class="capsule">Teamwork</span>
                        <span class="capsule">Presentation Skills</span>
                        <span class="capsule">Self-Regulation</span>
                        <span class="capsule">Interpersonal Skills</span>
                    </div>
                </div>
            </div>
            <div class="ss-cert-card  basis-full md:basis-[48%] flex-1">
                <h2 class="text-xl font-bold text-white mb-4">🎭 Beyond My Skills</h2>
                <div id="hobbies" class="flex flex-wrap gap-3 items-start justify-center">
                    <span class="capsule">Dance</span>
                    <span class="capsule">Watching Anime</span>
                    <span class="capsule">Movies and Dramas</span>
                    <span class="capsule">Mobile Gaming</span>
                    <span class="capsule">listening to music</span>
                    <span class="capsule">Exploring Unity Game Engine</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div style="height: 200px;"></div>
<h2 class="fade-in-on-scroll visibility-hidden-unique text-3xl md:text-4xl font-extrabold  bg-clip-text text-blue-500 text-center mb-6 hover:scale-105 hover:shadow-xl relative">
    My Services
</h2>
<p class="slide-up-on-scroll visibility-hidden-unique text-center text-white max-w-2xl mx-auto text-base md:text-lg leading-relaxed hover:scale-105 hover:shadow-xl">
    Here's what I love building! Whether it's AI models, full-stack websites, or sleek Python backends — I enjoy taking on exciting tech challenges and delivering solutions that work.
</p>
<section id="services" class="scroll-section">
    <iframe src="/services" style="width:100%; height:50vh; border:none;  " scrolling="no" allowtransparency="true"></iframe>
</section>
<div style="height: 200px;"></div>
<h2 class="fade-in-on-scroll visibility-hidden-unique text-xl md:text-2xl font-semibold text-center text-white mb-2">
    --From Idea to Execution--
</h2>
<h3 class="fade-in-on-scroll visibility-hidden-unique text-3xl md:text-4xl font-extrabold  bg-clip-text text-blue-500 text-center mb-6">
    Strategic Project Implementations
</h3>
<p class="slide-up-on-scroll visibility-hidden-unique text-center text-white max-w-2xl mx-auto text-base md:text-lg leading-relaxed">
    Each project reflects a focused approach to solving real-world problems — combining technical depth, clean design, and purpose-driven development to create meaningful user experiences.
</p>
<section id="projects" class="scroll-section">
    <iframe src="/projects" style="width:100%; height:100vh; border:none;  " allowtransparency="true" scrolling="no"></iframe>
</section>
<div style="height: 100px;"></div>
<h2 class="fade-in-on-scroll visibility-hidden-unique text-3xl md:text-4xl font-extrabold  bg-clip-text text-blue-500 text-center mb-6 hover:scale-105 hover:shadow-xl relative">
    My Academic Journey
</h2>
<p class="slide-up-on-scroll visibility-hidden-unique text-center text-white max-w-2xl mx-auto text-base md:text-lg leading-relaxed hover:scale-105 hover:shadow-xl">
    A journey of continuous learning and growth, my education has provided me with the technical depth and problem-solving mindset essential for a successful career in tech.
</p>
<section id="education" class="scroll-section">
    <iframe src="/education" style="width: 100%; height: 360vh; border: none; min-height: 100vh;" scrolling="no" frameborder="0" allowtransparency="true"></iframe>
</section>
<div style="height: 50px;"></div>
<section id="contact" class="scroll-section">
    <iframe src="/contact" style="width:100%; height:100vh; border:none;  " allowtransparency="true" scrolling="no"></iframe>
</section>
    {% endblock %}
