{% extends "base.html" %}
{% block content %}
<section id="services">
    <div class="carousel " id="carousel" style="position:relative;">
        <div class="card">
            <h3 class="font-semibold text-lg mb-2 text-black">AI Development</h3>
            <p class="text-sm text-black">Building intelligent solutions using TensorFlow, Keras, CNNs, and RNNs for tasks like image captioning and recognition.</p>
        </div>
        <div class="card">
            <h3 class="font-semibold text-lg mb-2 text-black">Full-Stack Development</h3>
            <p class="text-sm text-black">Designing scalable web applications with Flask, Django, React, Node.js, and RESTful APIs backed by robust databases.</p>
        </div>
        <div class="card">
            <h3 class="font-semibold text-lg mb-2 text-black ">Python Backend</h3>
            <p class="text-sm text-black">Creating secure and efficient backend logic with Flask, FastAPI, and Django, integrated with databases like MySQL,MongoDB and PostgreSQL.</p>
        </div>
        <div class="card">
            <h3 class="font-semibold text-lg mb-2 text-black">JavaScript & Frontend Development</h3>
            <p class="text-sm text-black">Crafting dynamic interfaces with React and enhancing UX with modular design and modern JavaScript techniques.</p>
        </div>
        <div class="card">
            <h3 class="font-semibold text-lg mb-2 text-black">Data Science & ML</h3>
            <p class="text-sm text-black">Cleaning, analyzing, and visualizing data with Pandas, NumPy, Matplotlib, and deploying predictive ML models..</p>
        </div>
    </div>
</section>
{% endblock %}
